body {
    margin: 0;
    padding: 0;
    background-color: #db8f8f; }

h1{
    color: rgb(1, 1, 5);
    text-align: center;
    margin-top: 20px;
}
input[type="text"] {
    padding: 8px;
    width: 60%;
    border: 1px solid #ad146e;
    border-radius: 5px;
    margin-right: 18px;

}
button{
    color: rgb(0, 7, 7);
    cursor: pointer;

}